

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600&family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'League Spartan', sans-serif; */
    font-family: 'Poppins', sans-serif;
}


body{
background: linear-gradient(#030840,#B4B3D2);
  margin: 0;
  padding: 0;
 overflow-x: hidden;
  
}


.header {
    background: #1C1A46;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.menu {
    display: flex;
    width: 100%;
    height: 108px;
    gap: 60px;
    align-items: center;
    position: relative;
    list-style: none;
    justify-content: space-between;
}

.menu li a {
    color: #fff;
    font-family: 'League Spartan', sans-serif;
    

}

.logo {
    width: 130px;
    position: absolute;
    top: 20px;
    transform: translate(-50%);
    transition: width 1.5s, height 1.5s; /* Добавляем плавность для свойств width и height */
}

.avn a {
    background: #3F3E79;
    padding: 8px 19px;
    border-radius: 6px;
}



  
/*----оглавление структура--------------------------------*/
.ogl_structur {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  
  .ogl_structura {
    position: relative;
    text-align: center;
  }
  
  .ogl_structura::before,
  .ogl_structura::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 20%;
    height: 4px;
    background-color: #ffffff;
  }
  
  .ogl_structura::before {
    left: 300px; /* Примерное положение левой линии */
    transform: translateY(-50%);
  }
  
  .ogl_structura::after {
    right: 300px; /* Примерное положение правой линии */
    transform: translateY(-50%);
  }
  
  .ogl_structura h1 {
    color: #fff;
     /* Чтобы заголовок находился над линиями */
  }

  .img_struct {
    width: 100%;height: 100%;
    margin-top: 100px;
    display: flex;
  justify-content: center;
  
  }
  .img_struct img{
    align-items: center;
    width: 90%;
    height: 90%;
    padding-left: 20px;
  }
  /*----------------------------------------------------*/

