

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600&family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'League Spartan', sans-serif; */
    font-family: 'Poppins', sans-serif;
}


body{
    background: linear-gradient(#030840,#B4B3D2);
  margin: 0;
  padding: 0;
  
}


.header {
    background: #1C1A46;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.menu {
    display: flex;
    width: 100%;
    height: 108px;
    gap: 60px;
    align-items: center;
    position: relative;
    list-style: none;
    justify-content: space-between;
}

.menu li a {
    color: #fff;
    font-family: 'League Spartan', sans-serif;
    

}

.logo {
    width: 130px;
    position: absolute;
    top: 20px;
    transform: translate(-50%);
    transition: width 1.5s, height 1.5s; /* Добавляем плавность для свойств width и height */
}

.avn a {
    background: #3F3E79;
    padding: 8px 19px;
    border-radius: 6px;
}

.missia_init{
    text-align: center;
        position: relative;
        padding-top: 250px;
        padding-bottom: 150px;
        width: 1200px;
        height: 250px;
        color: rgb(255, 255, 255); 
         
}
/*text missia init--------------------------------*/
.missia_init_glava p {
    text-align: center;
    position: relative;
    font-size: 44px;
    font-family: 'League Spartan', sans-serif;
    bottom: 24px;
    left: 70px;
}
/*текст внутри миссия инит-----------------------*/
.missia_init_text {
    font-size: 26px;
    text-align: center;
padding-top: 10px;
padding-left: 120px;

}
/*line missia init 2 */
.line-12 {
    border-style: solid;
    border-color: #ffffff;
    border-width: 5px 0 0 0;
    width: 50px;
    height: 0px;
    position: relative;
    left: 848px;
    bottom: -5px;
  }

.line-13 {
    border-style: solid;
    border-color: #ffffff;
    border-width: 5px 0 0 0;
    width: 50px;
    height: 0px;
    position: relative;
    left: 450px;
   
  }

/*текст история инит---------------------------------*/
.istori_init_glava p{
    color: rgb(255, 255, 255); 
    text-align: center;
    font-size: 44px;
    font-family: 'League Spartan', sans-serif;
    margin-top: 180px;
    position: relative;
    
}
/* линии история-------------------------------------------*/
.line-14 {
    border-style: solid;
    border-color: #ffffff;
    border-width: 5px 0 0 0;
    width: 50px;
    height: 0px;
    position: relative;
    left: 848px;
    bottom: -210px;
  }

.line-15 {
    border-style: solid;
    border-color: #ffffff;
    border-width: 5px 0 0 0;
    width: 50px;
    height: 0px;
    position: relative;
    left: 450px;
    bottom: -208px;
   
  }
  

